# Environnements
.env
.venv
env/
venv/
ENV/

# Sauvegardes de base
*.sql.gz
dumps/

# Python
__pycache__/
*.pyc
.pytest_cache/

# Uploads générés à l'exécution
static/uploads/*
!static/uploads/.gitkeep
