<script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chartjs/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='js/commun.js') }}"></script>
    {% if active_page == 'dashboard' %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
    {% endif %}
    {% if active_page == 'salle' %}
    <script src="{{ url_for('static', filename='js/salle.js') }}" defer></script>
    {% endif %}
    {% if active_page == 'commande' %}
    <script src="{{ url_for('static', filename='js/commandes.js') }}" defer></script>
    {% endif %}
    {% if active_page in ('maquis', 'menu') %}
    <script src="{{ url_for('static', filename='js/carte.js') }}" defer></script>
    {% endif %}
    {% if active_page == 'stock' %}
    <script src="{{ url_for('static', filename='js/stock.js') }}" defer></script>
    {% endif %}
    {% if active_page == 'caisse' %}
    <script src="{{ url_for('static', filename='js/caisse.js') }}" defer></script>
    {% endif %}
    {% if active_page == 'depense' %}
    <script src="{{ url_for('static', filename='js/depenses.js') }}" defer></script>
    {% endif %}
    {% if active_page == 'administration' %}
    <script src="{{ url_for('static', filename='js/administration.js') }}" defer></script>
    {% endif %}
    {% if active_page == 'plateforme' %}
    <script src="{{ url_for('static', filename='js/plateforme.js') }}" defer></script>
    {% endif %}
</body>
</html>
